/*CSS File for HTML*/
/*Creator : Gustav I.*/

/*Header*/
h1 {
  text-align : center;
  background-color : #5900ff;
  color : #fff;
  padding : 20px;
  
}

/*Header 4*/
h4 {
  text-align : center;
}

/*Button*/
button {
  background-color : #5900ff;
  color : #fff;
  padding : 5px;
}
